<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;overflow-x: hidden">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
  <link rel="icon" href="src/logo.ico" type ="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body style="background: #ececec;cursor:default">
<div id="app">
  <div class="mailbox info" :class="{infoerroe:error}" style="position: absolute;line-height: 0px;left: calc(50% - 150px);height: 40px;width: 300px;z-index: 4;text-align: center">
    <h3>{{infomation}}</h3>
  </div>
  <div class="mailbox" style="position: absolute;top:60px;width: 320px;height: 80%">
    <div style="scale: 1.2;position: absolute;left: 30px;top:-20px;color: white;width: 80px;height: 80px;border-radius: 440px;background-color: #3877ec;text-align: center;line-height: 35px">
      <h1>{{account.account.charAt(0)}}</h1>
    </div>
    <h2 style="position: absolute;color: #000000;left: 140px;top:-6px">{{account.account}}</h2>
  </div>
    <div :class="{chose1:chose ===1,chose2:chose ===2,chose3:chose ===3}"  style="position: absolute;left: 25px;background-color: #56abe8;width: 260px;height: 40px;border-radius: 10px"></div>
    <h3 @click="cs1" :class="{menuchose:chose === 1 }" style="position: absolute;left: 40px;top:180px">详细信息</h3>
    <h3 @click="cs2" :class="{menuchose:chose === 2 }" style="position: absolute;left: 40px;top:220px">修改密码</h3>
    <h3 @click="cs3" :class="{menuchose:chose === 3 }" style="position: absolute;left: 40px;top:260px">注销账号</h3>
    <h3 @click="cs4" :class="{menuchose:chose === 4 }" style="position: absolute;left: 40px;top:300px">返回</h3>
  <div :class="{boxchose1:chose === 1,boxchose2:chose === 2,boxchose3:chose === 3, }" style=";left: 345px;width: calc(100% - 360px);height: 100%;position: absolute">
    <div :style="" style=";border-radius:10px;background-color: white;width:100%;height: 80%;top:70px;position: absolute">
      <h3  style="position: absolute;left: 300px;top:40px">昵称:</h3>
      <h3  style="position: absolute;left: 360px;top:40px">{{account.account}}</h3>
    </div>
    <div :style="" style=";border-radius:10px;background-color: white;width:100%;height: 80%;top:calc(100% + 70px);position: absolute">
      <h3  style="position: absolute;left: 300px;top:80px">原密码:</h3>
      <input v-model="password" type="password" class="input" style="position: absolute;left: 380px;top:85px;width: 300px">
      <h3 style="position: absolute;left: 300px;top:130px">新密码:</h3>
      <input v-model="newpassword" type="password" class="input" style="position: absolute;left: 380px;top:135px;width: 300px">
      <h3 style="position: absolute;left: 300px;top:180px">确认密码:</h3>
      <input v-model="repassword" type="password" class="input" style="position: absolute;left: 380px;top:185px;width: 300px">
      <button @click="ChangePasswd()" class="searchbut" style="width: 100px;height: 30px;left: 585px;top: 240px">确认</button>
    </div>
    <div :style="" style=";border-radius:10px;background-color: white;width:100%;height: 80%;top:calc(200% + 70px);position: absolute">
      <h3  style="position: absolute;left: 320px;top:80px">密码:</h3>
      <input v-model="delpassword" class="input" style="position: absolute;left: 380px;top:85px;width: 300px">
      <h3  style="position: absolute;left: 320px;top:130px">输入“注销账户”以确认</h3>
      <h3  style="position: absolute;left: 320px;top:180px">确认:</h3>
      <input v-model="confire" class="input" style="position: absolute;left: 380px;top:185px;width: 300px">
      <button @click="Delaccount" class="searchbut" style="width: 100px;height: 30px;left: 585px;top: 240px;background-color: #e01e34">注销</button>
    </div>
  </div>
  <div v-if="false" style="position: absolute;width: 100%;height: 100%;text-align: center;background-color: #ececec;z-index: 5">
    <h1 style="color: #c9c9c9">加载中...</h1>
  </div>
  </div>



<script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
<script src="js/account.js"></script>
</body>
</html>