<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" style="overflow-y: hidden;overflow-x: hidden">
<head>
    <meta charset="UTF-8">
    <title>邮件</title>
    <link rel="icon" href="src/logo.ico" type ="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body style="background: #ececec;cursor:default">
<div style="color: #c9c9c9;position: absolute;left: 50%;top:30%;text-align: center">
    <h1>邮件收发系统web前端</h1>
    <h2>软工2112 周楚杰 陈宇昕</h2>
    <h2>
        关注:
        <a href="https://gitee.com/zhoujump/mail-system-mysql" target="_blank" style="color: #c9c9c9">码云</a>
        <a href="https://github.com/ZhouJump/mail-system-mysql" target="_blank" style="color: #c9c9c9">github</a>
    </h2>
</div>
<!--顶栏-->
    <div class="topbar"  id="topbar">
        <div v-if="false" style="position: absolute;width: 100%;height: 100%;text-align: center;background-color: #ececec;z-index: 5">
            <h1 style="color: #c9c9c9">加载中...</h1>
        </div>
        <div class="mailbox info" :class="{infoerroe:error}" style="position: absolute;line-height: 0px;left: calc(50% - 100px);height: 40px;width: 200px;z-index: 4;text-align: center">
            <h3>{{infomation}}</h3>
        </div>
        <div style="text-align: center">
            <label style="position: relative">
                <div  class="search" style="text-align: center;margin: 0 auto">
                <input @mouseleave="searhide" @mouseenter="sear" v-model="keyword" class="search" style="z-index: 3;width: 100%;text-align: center" placeholder="通过账户名和主题搜索">
                <div @mouseleave="searhide" @mouseenter="sear" v-show=" mode === 'view'" class="outbox" style="z-index: 2;margin: 0 auto;position: absolute;top:22px;border-radius: 8px;height: 300px;left: -1px;width: calc(100% + 4px);background: white;border: #3877ec 2px solid;">
                    <div class="maillist" style="top:20px">
                        <div class="list" v-for="(item,index) in searchlist" style="align-items: center"  @click="setview(item.id)">
                            <div class="icon" :style="{background:(item.type === 'sent'?'#17d017':'#3877ec')} ">
                                <h3>{{item.account.charAt(0)}}</h3>
                            </div>
                            <div style="margin-left: 70px">{{item.account}}</div>
                            <div style="margin-left: 70px">{{item.theme}}</div>
                            <hr class="hr">
                        </div>
                    </div>
                </div>
                </div>
            </label>
        </div >

        <h3 @click="changesidebar" style="position: absolute;right:12px;top:-6px;color: white">
            <i class="bi bi-list"></i>
        </h3>
<!--侧栏-->
        <div :class="{ sidebar: sidebar,sidebarhide: !sidebar }">
            <h4 style="position: absolute; color: #ffffff;top:-8px;left: 20px">设置</h4>
            <h3 @click="changesidebar" style="color: #ffffff;position: absolute;right: 10px;top:-8px"><i class="bi bi-x-square-fill"></i></h3>
            <h4 @click="location.href='account.html'" style="color: #ffffff;position: absolute;top:40px;left: 40px">账户中心 <i class="bi bi-person-badge-fill"></i></h4>
            <h4 @click="logout" style="color: #ffffff;position: absolute;top:70px;left: 40px">退出登录 <i class="bi bi-box-arrow-right"></i></h4>
            <h4 @click="location.href='account.html'" style="color: #ffffff;position: absolute;top:100px;left: 40px">下载桌面版 <i class="bi bi-download"></i></h4>
        </div>
        <div style="position: absolute;left: 70px;top: -8px;color: white"><h3>{{account.account}}</h3></div>
        <div class="icon" style="background-color: white;color: #3877ec;top: 5px">
            <h3>{{account.account.charAt(0)}}</h3>
        </div>
    </div>

<!--左侧栏-->
    <div class="mailbox"  id = "app">
        <h4 style="position: absolute;left: 30px;top: -4px">收件箱 <i class="bi bi-envelope-fill"></i></h4>
        <button class="write_mail" @click="setwrite"><b>写邮件 <i class="bi bi-pencil-square"></i></b></button>
        <div style="height: 50px"></div>
        <hr class="hr">
        <div class="outbox">
            <div    class="maillist" >
                <div class="list" v-for="(item,index) in msglist" style="align-items: center"  @click="setview(index)">
                    <div class="icon" :style="{background:(item.type === 'sent'?'#17d017':'#3877ec')} ">
                        <h3>{{item.account.charAt(0)}}</h3>
                    </div>
                    <div style="margin-left: 70px">{{item.account}}</div>
                    <div style="margin-left: 70px">{{item.theme}}</div>
                    <hr class="hr">
                </div>
            </div>
        </div>
    </div>
<!--信件详情-->
    <div :class="{ mailfade : mode === 'none', mail : mode === 'view'}" id="view" >
        <div style="align-items: center">
            <div style="height: 90px">
                <h2 style="position: absolute;top: -10px;left:20px">{{letter.theme}}</h2>
                <div class="icon" :style="{background:(letter.type === 'sent'?'#17d017':'#3877ec')} " style="left: 20px;top:50px">
                    <h3>{{letter.account.charAt(0)}}</h3>
                </div>
                <div style="top: 60px;left:70px;position: absolute">{{letter.account}}</div>
                <div style="top: 60px;right:30px;position: absolute">{{letter.time}}</div>
            </div>
            <hr class="hr">
            <button class="write_mail" style="width: 60px;height: 30px" @click="close_view()">关闭 <i class="bi bi-x-square-fill"></i></button>
            <button :style="{right:(letter.type === 'get'?'153px':'80px')}" class="write_mail" style="width: 60px;height: 30px;background-color: red" @click="del(letter.id)">删除 <i class="bi bi-trash3-fill"></i></button>
            <button v-show="letter.type === 'get'" class="write_mail" style="width: 60px;height: 30px;right:80px;background-color: #17d017" @click="remail(letter.account)">回复 <i class="bi bi-arrow-90deg-left"></i></button>
        </div>
        <div class="litter" v-html="letter.text"></div>
    </div>

    <div :class="{ mailfade : mode === 'none', mail : mode === 'view'}" id="write" >
        <div style="align-items: center">
            <button class="write_mail" style="width: 60px;height: 30px" @click="close_write()">关闭 <i class="bi bi-x-square-fill"></i></button>
            <button class="write_mail" style="width: 60px;height: 30px;right:80px;background-color: #17d017" @click="sentmail">发送 <i class="bi bi-send-fill"></i></button>
            <div>
                <h3 style="position: absolute;left: 20px">新建邮件 <i class="bi bi-file-earmark-plus-fill"></i></h3>
                <hr class="hr" style="top:50px;left: 20px;position: absolute">
                <h4  style="position: absolute;left: 30px;top:54px">主题</h4>
                <input v-model="letter.theme" class="input" style="position: absolute;left: 70px;top:60px;width: calc(100% - 100px)">
                <h4 style="position: absolute;left: 30px;top:100px">收件人</h4>
                <input v-model="letter.account" class="input" style="position: absolute;left: 84px;top:106px;width: calc(40% - 80px)">
                <textarea v-model="letter.text" class="input" placeholder="请在此处输入正文,支持html语法" style="resize: none;position: absolute;left: 12px;top:150px;width: calc(40% - 6px);height: calc(100% - 180px)"></textarea>
                <div class="litter" style="resize: none;position: absolute;left: calc(40% + 18px);top:114px;width: calc(60% - 30px);height: calc(100% - 130px)" v-html="letter.text"></div>
                <h1 v-show="letter.text === ''" style="position: absolute;left: 68%;top: 49%;color: #c9c9c9">预览</h1>
            </div>
        </div>
    </div>


    <script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
    <script src="js/index.js"></script>

</body>
</html>