<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;overflow-x: hidden">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="icon" href="src/logo.ico" type ="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background: #ececec">
<div id="signup" style="width: 100%;height: 100%">
    <div v-if="false" style="position: absolute;width: 100%;height: 100%;text-align: center;background-color: #ececec;z-index: 5">
        <h1 style="color: #c9c9c9">加载中...</h1>
    </div>
    <div class="mailbox info" :class="{infoerroe:error}" style="position: absolute;line-height: 0px;left: calc(50% - 100px);height: 40px;width: 200px;z-index: 2;opacity: 0.9;text-align: center">
        <h3>{{infomation}}</h3>
    </div>
    <div class="mailbox" style="margin: 0 auto;height: 260px;width: 346px;top:calc(50% - 160px);z-index: 2;opacity: 0.9">
        <h2 style="left: 20px;top:-8px;position: absolute">注册</h2>
        <label>
            <div style="position: absolute;left: 20px;top:70px">账号</div>
            <input :class="{inputerror:error}" v-model:value="account.account" class="input" style="position: absolute;top: 86px;left: 20px">
            <div style="position: absolute;left: 20px;top:140px">密码</div>
            <input :class="{inputerror:error}" v-model:value="account.password" type="password" class="input" style="position: absolute;top: 156px;left: 20px">
            <button @click="signup" class="write_mail"><h3 style="line-height: 12px">注册</h3></button>
        </label>
        <a href="login.html"><h5 style="color: #2153b0;right: 20px;top:200px;position: absolute">前往登录</h5></a>
    </div>
    <img src='https://api.cyrilstudio.top/bing/image.php' style="object-fit: cover;height: 100%;width: 100%;position: absolute;top: 0">
</div>
<script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
<script src="js/signup.js"></script>

</body>
</html>