<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" style="overflow-y: hidden;overflow-x: hidden">
<head>
    <meta charset="UTF-8">
    <title>邮件</title>
    <link rel="shortcut icon" href="src/icon_128.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
</head>
<body style="background: #ececec;cursor:default">
<div style="color: #c9c9c9;position: absolute;left: 50%;top:30%;text-align: center">
    <h1>邮件收发系统web前端</h1>
    <h2>软工2112 周楚杰 陈宇昕</h2>
    <h2>
        关注:
        <a href="https://gitee.com/zhoujump/mail-system-mysql" target="_blank" style="color: #c9c9c9">码云</a>
        <a href="https://github.com/ZhouJump/mail-system-mysql" target="_blank" style="color: #c9c9c9">github</a>
    </h2>
</div>
<div style="z-index: 2;opacity:0;background-color: #3877ec;-webkit-app-region: drag;width: calc(50% - 150px);height: 40px;position: absolute; top:0"></div>
<div style="z-index: 2;opacity:0;background-color: #3877ec;-webkit-app-region: drag;width: calc(50% - 280px);height: 40px;position: absolute; top:0;right: 130px"></div>
<div style="z-index: 2;opacity:0;background-color: #3877ec;-webkit-app-region: drag;width: 220px;height: 40px;position: absolute; top:0"></div>
<div style="z-index: 2;opacity:0;background-color: #3877ec;-webkit-app-region: drag;width: 60px;height: 40px;position: absolute; top:0;right: 130px"></div>
<!--顶栏-->
    <div :style="{'background':color}"  class="topbar"  id="topbar">

        <div v-if="false" style="position: absolute;width: 100%;height: 100%;text-align: center;background-color: #ececec;z-index: 5">
            <h1 style="color: #c9c9c9">加载中...</h1>
        </div>
        <div class="mailbox info" :style="{'border':color + ' 2px solid'}" :class="{infoerroe:error}" style="position: absolute;line-height: 0px;left: calc(50% - 100px);height: 40px;width: 200px;z-index: 4;text-align: center">
            <h3>{{infomation}}</h3>
        </div>
        <div style="text-align: center">
            <label style="position: relative">
                <div  class="search" style="text-align: center;margin: 0 auto">
                <input @mouseleave="searhide" @mouseenter="sear" v-model="keyword" class="search" style="z-index: 3;width: 100%;text-align: center" placeholder="通过账户名和主题搜索">
                <div @mouseleave="searhide" @mouseenter="sear" v-show=" mode === 'view'" :style="{'border':color + ' 2px solid'}" class="outbox" style="z-index: 2;margin: 0 auto;position: absolute;top:22px;border-radius: 8px;height: 300px;left: -1px;width: calc(100% + 4px);background: white;">
                    <div class="maillist" style="left: 20px;top:20px">
                        <div  class="list" v-for="(item,index) in searchlist" style=";align-items: center"  @click="setview(index)">
                            <div class="icon" :class="{sent:item.type === 'sent'}" :style="{background:color} ">
                                <h3>{{item.account.charAt(0)}}</h3>
                                <hr :class="{sent:item.type === 'sent'}" class="hr">
                            </div>
                            <div style="margin-left: 70px">{{item.account}}</div>
                            <div style="margin-left: 70px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap">{{item.theme}}</div>
                        </div>
                    </div>
                </div>
                </div>
            </label>
        </div >

        <h3 @click="changesidebar" style="font-size: 22px;position: absolute;right:100px;top:-10px;color: white">
            <i class="bi bi-list"></i>
        </h3>
        <h3 @click="miniwindow" style="position: absolute;right:74px;top:-6px;color: white">
            <i class="bi bi-dash-lg"></i>
        </h3>
        <h3 v-show="!max" @click="maxwindow" style="font-size: 15px;position: absolute;right:48px;top:1px;color: white">
            <i class="bi bi-square"></i>
        </h3>
        <h3 v-show="max" @click="maxwindow" style="font-size: 15px;position: absolute;right:48px;top:1px;color: white">
            <i class="bi bi-fullscreen-exit"></i>
        </h3>
        <h3 @click="closewindow" style="position: absolute;right:16px;top:-6px;color: white">
            <i class="bi bi-x-lg"></i>
        </h3>
<!--侧栏-->
        <div @mouseleave="sidebar = false;setcolor" :style="{'background-color':color}" :class="{ sidebar: sidebar,sidebarhide: !sidebar }">
            <h4 style="position: absolute; color: #ffffff;top:-8px;left: 20px">设置</h4>
            <h3 @click="changesidebar" style="color: #ffffff;position: absolute;right: 10px;top:-8px"><i class="bi bi-x-square-fill"></i></h3>
            <h4 @click="location.href='account.html';tray.remove();tray = null" style="color: #ffffff;position: absolute;top:40px;left: 40px">账户中心 <i class="bi bi-person-badge-fill"></i></h4>
            <h4 @click="webvesion" style="color: #ffffff;position: absolute;top:70px;left: 40px">进入网页版 <i class="bi bi-globe"></i></h4>
            <h4 @click="logout" style="color: #ffffff;position: absolute;top:100px;left: 40px">退出登录 <i class="bi bi-box-arrow-right"></i></h4>
            <h4 @click="win.close()" style="color: #ffffff;position: absolute;top:130px;left: 40px">退出系统 <i class="bi bi-x-square-fill"></i></h4>
            <h4 style="position: absolute;bottom: 45px;left: 40px;color: white">主题色 <i class="bi bi-palette-fill"></i></h4>
            <input v-on:change="setcolor" v-on:input="colorapply" v-model="color" style="opacity: 0;position: absolute;outline: none;bottom: 60px;left: 40px;border-radius: 6px" type="color">
        </div>
        <div style="position: absolute;left: 70px;top: -8px;color: white"><h3>{{account.account}}</h3></div>
        <div class="icon" :style="{'color':color}" style="background-color: white;top: 5px">
            <h3>{{account.account.charAt(0)}}</h3>
        </div>
    </div>

<!--左侧栏-->
    <div class="mailbox"  id = "app">
        <audio controls="controls" hidden src="src/new.mp3" ref="new"></audio>
        <audio controls="controls" hidden src="src/sent.mp3" ref="sent"></audio>
        <audio controls="controls" hidden src="src/del.mp3" ref="del"></audio>
        <h4 :style="{color:color}" v-show="box" style="position: absolute;left: 30px;top: -4px">收件箱 <i class="bi bi-envelope-fill"></i></h4>
        <h4 :style="{color:color}" v-show="!box" style="position: absolute;left: 30px;top: -4px">联系人 <i class="bi bi-person-circle"></i></h4>
        <button :style="{'background-color':color}" class="write_mail" @click="setwrite"><b>写邮件 <i class="bi bi-pencil-square"></i></b></button>
        <div style="height: 50px"></div>
        <hr class="hr">
        <div class="outbox">
            <div :class="{ boxchose : box, boxnchose : !box}" class="maillist" >
                <div class="list" v-for="(item,index) in msglist" style="align-items: center"  @click="setview(index)">
                    <div class="icon" :class="{sent:item.type === 'sent'}" :style="{background:color} ">
                        <h3>{{item.account.charAt(0)}}</h3>
                        <hr :class="{sent:item.type === 'sent'}" class="hr">
                    </div>
                    <div style="margin-left: 70px">{{item.account}}</div>
                    <div style="margin-left: 70px;width: 220px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap">{{item.theme}}</div>

                </div>
            </div>
            <div :class="{ accchose : !box, accnchose : box}" class="maillist" >
                <div class="list" v-for="(item,index) in acclist" style="align-items: center"  @click="setaccount(item.friend)">
                    <div  :style="{'background':color}" class="icon">
                        <h3>{{item.friend.charAt(0)}}</h3>
                        <hr :class="{sent:item.type === 'sent'}" class="hr">
                    </div>
                    <div style="margin-left: 70px;line-height: 40px">{{item.friend}}</div>
                </div>
            </div>
            <h1 @mouseleave="add = false" v-show="!box" style="overflow: hidden" :style="{'background':add?'white':color,'border':color + ' 3px solid'}" :class="{addbutton:!add,addbuttont:add}">
                <div style="font-size: 18px;top: 7px;position: absolute;left: 15px" :style="{'color':color}">添加联系人</div>
                <input v-model="friend" :style="{'border':color + ' 2px solid'}" class="input" style="position: absolute;height: 28px;right: 80px;top:30px;width: calc(100% - 100px)">
                <button @click="addfriend" style="width:60px;height:30px;right: 10px;top:40px" :style="{'background-color':color}" class="write_mail">添加</button>
                <i :class="{rota:!add,rotat:add}" :style="{'color':!add?'white':color}"  @click="addbut" class="bi bi-plus"></i>
            </h1>
        </div>
        <div v-show="!box" @click="chosebox" :style="{color:(box?color:'#C9C9C9FF')}" style="position: absolute;bottom: 20px;left:calc(20% + 20px);font-size: 30px"><i class="bi bi-envelope-fill"></i></div>
        <div v-show="box" @click="chosebox" :style="{color:(box?color:'#C9C9C9FF')}" style="position: absolute;bottom: 20px;left:calc(20% + 20px);font-size: 30px"><i class="bi bi-envelope-paper-fill"></i></div>
        <h3 @click="chosebox" :style="{color:(box?color:'#C9C9C9FF')}" style="position: absolute;bottom: -8px;left:calc(20% + 14px);font-size: 14px">收件箱</h3>
        <div v-show="box" @click="choseacc" :style="{color:(!box?color:'#C9C9C9FF')}" style="position: absolute;bottom: 20px;right:calc(20% + 20px);font-size: 30px"><i class="bi bi-person-circle"></i></div>
        <div v-show="!box" @click="choseacc" :style="{color:(!box?color:'#C9C9C9FF')}" style="position: absolute;bottom: 20px;right:calc(20% + 20px);font-size: 30px"><i class="bi bi-person-bounding-box"></i></div>
        <h3 @click="choseacc" :style="{color:(!box?color:'#C9C9C9FF')}" style="position: absolute;bottom: -8px;right:calc(20% + 14px);font-size: 14px">联系人</h3>
    </div>
<!--信件详情-->
    <div :class="{ mailfade : mode === 'none', mail : mode === 'view'}" id="view" >
        <div style="align-items: center">
            <div style="height: 90px">
                <h2 :style="{width:(letter.type === 'sent'?'calc(100% - 160px)':'calc(100% - 240px)')}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;position: absolute;top: -10px;left:20px">{{letter.theme}}</h2>
                <div class="icon" :class="{sent:letter.type === 'sent'}":style="{background:color} " style="left: 20px;top:50px">
                    <h3>{{letter.account.charAt(0)}}</h3>
                </div>
                <div @click="addfriend" :style="{'background-color':color}" style="color: white;position: absolute;left: 30px;top:82px;border-radius: 6px;width:18px;height:18px;font-size: 20px;line-height:16px;text-align: center;border:white solid 1px">+</div>
                <div style="top: 60px;left:70px;position: absolute">{{letter.account}}</div>
                <div style="top: 60px;right:30px;position: absolute">{{letter.time}}</div>
            </div>
            <hr class="hr">
            <button :style="{'background-color':color}" class="write_mail" style="width: 60px;height: 30px" @click="close_view()">关闭 <i class="bi bi-x-square-fill"></i></button>
            <button :style="{right:(letter.type === 'get'?'153px':'80px')}" class="write_mail" style="width: 60px;height: 30px;background-color: red" @click="del(letter.id)">删除 <i class="bi bi-trash3-fill"></i></button>
            <button v-show="letter.type === 'get'" :style="{'background-color':color}" class="write_mail" style="width: 60px;height: 30px;right:80px;background-color: #17d017" @click="remail(letter.account)">回复 <i style="font-size: 17px" class="bi bi-reply-fill"></i></button>
        </div>
        <div :style="{'border':color + ' 2px solid'}" class="input" style="resize: none;position: absolute;left: 12px;top:100px;width: calc(100% - 26px);height: calc(100% - 126px)">
            <div style="height: 100%;overflow: auto">
                <div id="reader"><!-- 编辑器 --></div>
            </div>
        </div>
        <div :style="{'border':color + ' 2px solid'}" class="input" style="pointer-events:none;resize: none;position: absolute;left: 12px;top:100px;width: calc(100% - 26px);height: calc(100% - 126px)"></div>
    </div>

    <div :class="{ mailfade : mode === 'none', mail : mode === 'view'}" id="write" >
        <div style="align-items: center">
            <button :style="{'background-color':color}" class="write_mail" style="width: 60px;height: 30px" @click="close_write()">关闭 <i class="bi bi-x-square-fill"></i></button>
            <button :style="{'background-color':color}" class="write_mail" style="width: 60px;height: 30px;right:80px" @click="sentmail">发送 <i class="bi bi-send-fill"></i></button>
            <div>
                <h3 :style="{'color':color}" style="position: absolute;left: 20px">新建邮件 <i class="bi bi-file-earmark-plus-fill"></i></h3>
                <hr class="hr" style="top:50px;left: 20px;position: absolute">
                <h4 :style="{'color':color}" style="position: absolute;left: 30px;top:54px">主题</h4>
                <input v-model="letter.theme" :style="{'border':color + ' 2px solid'}" class="input" style="position: absolute;left: 70px;top:60px;width: calc(100% - 100px)">
                <h4 :style="{'color':color}" style="position: absolute;left: 30px;top:100px">收件人</h4>
                <input v-model="letter.account" :style="{'border':color + ' 2px solid'}" class="input" style="position: absolute;left: 84px;top:106px;width: calc(100% - 114px)">
                <div :style="{'border':color + ' 2px solid'}" class="input" style="resize: none;position: absolute;left: 12px;top:150px;width: calc(100% - 26px);height: calc(100% - 180px)">
                        <div id="toolbar"><!-- 工具栏 --></div>
                    <div style="height: calc(100% - 80px);overflow-y: auto">
                        <div id="editor"><!-- 编辑器 --></div>
                    </div>
                </div>
                <div :style="{'border':color + ' 2px solid'}" class="input" style="pointer-events:none;resize: none;position: absolute;left: 12px;top:150px;width: calc(100% - 26px);height: calc(100% - 180px)"></div>
            </div>
        </div>
    </div>

    <div :class="{ mailfade : mode === 'none', mail : mode === 'view'}" id="account" >
        <div :style="{'background':color}" style="position:absolute;width: 100px;height: 100px;border-radius: 50px;color: white;left: calc(50% - 50px);top:120px">
            <h3 style="font-size: 50px;line-height: 0px;text-align: center">{{acc.charAt(0)}}</h3>
        </div>
        <h2 style="width: 160px;position: absolute;text-align: center;left: calc(50% - 80px);top:220px">{{acc}}</h2>
        <button :style="{'background-color':color}" class="write_mail" style="width: 60px;height: 30px" @click="close_view">关闭 <i class="bi bi-x-square-fill"></i></button>
        <button :style="{'background-color':color}" class="write_mail" style="width: 76px;height: 30px;right: 80px" @click="setwrite">发消息 <i style="font-size: 17px" class="bi bi-reply-fill"></i></button>
        <button :style="{'background-color':color}" class="write_mail" style="width: 60px;height: 30px;right: 167px" @click="search">搜索 <i class="bi bi-search"></i></button>
        <button @click="delfriend" class="write_mail" style="width: 60px;height: 30px;right: 239px;background-color: red">删除 <i class="bi bi-trash3-fill"></i></button>


    </div>
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
    <script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
    <script src="js/index.js"></script>
    <script>
        const { createEditor, createToolbar } = window.wangEditor

        const editorConfig = {
            placeholder: '输入正文',
        }

        const editor = createEditor({
            selector: '#editor',
            html: '<p><br></p>',
            config: editorConfig,
            mode: 'default', // or 'simple'
        })

        const readerConfig = {
            readOnly : true
        }

        const reader = createEditor({
            selector: '#reader',
            html: '<p><br></p>',
            config: readerConfig,
            mode: 'default', // or 'simple'
        })

        const toolbarConfig =
            {
                toolbarKeys:[
                "headerSelect",
                "blockquote",
                "|",
                "bold",
                "underline",
                "italic",
        {
            "key": "group-more-style",
            "title": "更多",
            "iconSvg": "<svg viewBox=\"0 0 1024 1024\"><path d=\"M204.8 505.6m-76.8 0a76.8 76.8 0 1 0 153.6 0 76.8 76.8 0 1 0-153.6 0Z\"></path><path d=\"M505.6 505.6m-76.8 0a76.8 76.8 0 1 0 153.6 0 76.8 76.8 0 1 0-153.6 0Z\"></path><path d=\"M806.4 505.6m-76.8 0a76.8 76.8 0 1 0 153.6 0 76.8 76.8 0 1 0-153.6 0Z\"></path></svg>",
            "menuKeys": [
            "through",
            "code",
            "sup",
            "sub",
            "clearStyle"
        ]
        },
        "color",
            "bgColor",
            "|",
            "fontSize",
            "fontFamily",
            "lineHeight",
            "|",
            "bulletedList",
            "numberedList",
            "todo",
            {
                "key": "group-justify",
                "title": "对齐",
                "iconSvg": "<svg viewBox=\"0 0 1024 1024\"><path d=\"M768 793.6v102.4H51.2v-102.4h716.8z m204.8-230.4v102.4H51.2v-102.4h921.6z m-204.8-230.4v102.4H51.2v-102.4h716.8zM972.8 102.4v102.4H51.2V102.4h921.6z\"></path></svg>",
                "menuKeys": [
                    "justifyLeft",
                    "justifyRight",
                    "justifyCenter",
                    "justifyJustify"
                ]
            },
            {
                "key": "group-indent",
                "title": "缩进",
                "iconSvg": "<svg viewBox=\"0 0 1024 1024\"><path d=\"M0 64h1024v128H0z m384 192h640v128H384z m0 192h640v128H384z m0 192h640v128H384zM0 832h1024v128H0z m0-128V320l256 192z\"></path></svg>",
                "menuKeys": [
                    "indent",
                    "delIndent"
                ]
            },
            "|",
            "emotion",
            "insertLink",
            "insertImage",
            "insertVideo",
            "insertTable",
            "codeBlock",
            "divider",
            "|",
            "undo",
            "redo",
            
        ]
                //excludeKeys:["group-video","group-image"]
            }

        const toolbar = createToolbar({
            editor,
            selector: '#toolbar',
            config: toolbarConfig,
            mode: 'default', // or 'simple'
        })
    </script>


</body>
</html>