<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;overflow-x: hidden">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="shortcut icon" href="src/icon_128.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body style="background: #ececec">
<div id="signup" style="width: 100%;height: 100%">
    <audio controls="controls" hidden src="src/clik.mp3" ref="clik"></audio>
    <h3 style="z-index: 3;color: white;position: absolute;left: calc(50% - 10px);top: -10px">注 册</h3>
    <i style="z-index: 3;position: absolute;right: 8px;top:4px;font-size: 24px;color: #ffffff" @click="closewindow" class="bi bi-x-square close"></i>
    <i style="z-index: 3;position: absolute;left: 8px;top:4px;font-size: 24px;color: #ffffff" @click="location.href='login.html'" class="bi bi-caret-left-fill"></i>
    <div style="z-index: 2;background-color: #3877ec;-webkit-app-region: drag;width: calc(100% - 70px);height: 40px;position: absolute;left: 30px; top:0"></div>
    <div style="z-index: 2;background-color: #3877ec;width: 40px;height: 40px;position: absolute; top:0;right: 0"></div>
    <div style="z-index: 2;background-color: #3877ec;width: 30px;height: 40px;position: absolute; top:0;"></div>
    <div v-if="false" style="position: absolute;width: 100%;height: 100%;text-align: center;background-color: #ececec;z-index: 5">
        <h1 style="color: #c9c9c9">加载中...</h1>
    </div>
    <div class="mailbox info" :class="{infoerroe:error}" style="position: absolute;line-height: 0px;left: calc(50% - 100px);height: 40px;width: 200px;z-index: 2;opacity: 0.9;text-align: center">
        <h3>{{infomation}}</h3>
    </div>
    <img @mousedown="clik" class="logo" style="z-index: 1;width: 120px;position: absolute;left: calc(50% - 60px);bottom: calc(80% - 60px)" src="src/icon_big.png">
    <div class="mailbox loginbox" style="margin: 0 auto;height: 260px;width: 346px;top:calc(50% - 100px);z-index: 2">
        <h2 style="left: 20px;top:-8px;position: absolute">注册</h2>
        <label>
            <div style="position: absolute;left: 20px;top:70px">账号</div>
            <input :class="{inputerror:error}" v-model:value="account.account" class="input" style="position: absolute;top: 86px;left: 20px">
            <div style="position: absolute;left: 20px;top:140px">密码</div>
            <input :class="{inputerror:error}" v-model:value="account.password" type="password" class="input" style="position: absolute;top: 156px;left: 20px">
            <button @click="signup" class="write_mail"><h3 style="line-height: 12px">注册</h3></button>
        </label>
        <a href="login.html"><h5 style="color: #2153b0;right: 20px;top:200px;position: absolute">前往登录</h5></a>
    </div>
    <img src='https://api.cyrilstudio.top/bing/image.php' style="object-fit: cover;height: 100%;width: 100%;position: absolute;top: 0">
</div>
<script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
<script src="js/signup.js"></script>

</body>
</html>