html,body{height: 100%;}
body{margin: 0;}

/*顶栏*/
.topbar
{
    width: 100%;
    height: 50px;
}
/*左侧栏*/
.mailbox
{
    margin: 12px;
    position: relative;
    border-radius: 8px;
    background: white;
    height:calc(100% - 74px);
    width: 320px;
    transition-property: all;
    transition-duration: 0.4s;
}
/*写邮件按钮*/
.write_mail
{
    position: absolute;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    background-color: #3877ec;
    right: 8px;
    top: 8px;
    width: 100px;
    height: 40px;
    transform: scale(1);
}
.write_mail:hover{transform: scale(1.02);}
.write_mail:active{transform: scale(1);}
/*分割线*/
.hr
{
    top:-18px;
    position: absolute;
    border:none;
    background-color: #ececec;
    height: 1px;
    width: 260px;
}
.sent
{
    filter: hue-rotate(60deg);
}
/*信箱滚动条*/
.maillist
{
    position: absolute;
    top: 0;
    right: -17px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.outbox
{
    height: calc(100% - 110px);
    width: 300px;
    position: absolute;
    overflow: hidden;
}
.list
{
    height: 60px;
    transition-duration: 0.4s;
}
/*头像*/
.icon
{
    position: absolute;
    left: 20px;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 0;
    border-radius: 20px;
}
.search
{
    position: relative;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 9px;
    width: 300px;
    height: 30px;
    opacity: 1;
    transition-duration: 0.4s;
}
.input
{

    position: relative;
    border-radius: 8px;
    outline: none;
    border: #3877ec 2px solid;
    margin-top: 9px;
    width: 300px;
    height: 30px;
    transition-duration: 0.4s;
}
.inputerror
{
    border: #e01e34 2px solid;
    transition-property: all;
    transition-duration: 0.4s;
    background: salmon;

}
.info
{
    top: -60px;
    border: #3877ec 2px solid;
    transition-property: all;
    transition-duration: 0.4s;
}
.infoerroe
{
    top: 40px;
    border: #3877ec 2px solid;
    transition-property: all;
    transition-duration: 0.4s;
}
.search:hover
{
    width: 500px;
}
.searchbut
{
    position: absolute;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    background-color: #3877ec;
    right: 2px;
    top: -1px;
    width: 60px;
    height: 27px;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.4s;
}
.mail
{
    margin: 12px;
    position: absolute;
    left: 330px;
    top:50px;
    border-radius: 8px;
    background: white;
    height:calc(100% - 74px);
    width: calc(100% - 354px);
    opacity: 1;
    transition-property: all;
    transition-duration: 0.4s;
}
.mailfade
{
    margin: 12px;
    position: absolute;
    left: 330px;
    top:100%;
    opacity: 0;
    border-radius: 8px;
    background: white;
    height:calc(100% - 120px);
    width: calc(100% - 354px);
    transition-duration: 0.4s;
}
.litter
{
    top:100px;
    position: absolute;
    left: 10px;
    border-radius: 6px;
    height: calc(100% - 120px);
    width: calc(100% - 20px);
    overflow-y: auto;
    border: solid #3877ec 2px;
}
.hide
{
    transition-duration: 0.4s;
    transition-property: all;
    opacity: 0;
}
.nohide
{
    transition-duration: 0.4s;
    transition-property: all;
    opacity: 1;
}
.sidebar
{
    position: absolute;
    height: 100%;
    width: 260px;
    right: 0;
    top: 0;
    background-color: #3877ec;
    box-shadow: -1px 0 10px #777777;
    z-index: 6;

    transition-duration: 0.4s;
}
.sidebarhide
{
    position: absolute;
    height: 100%;
    width: 260px;
    right: -280px;
    top: 0;
    background-color: #3877ec;
    box-shadow: -1px 0 10px #777777;
    z-index: 6;

    transition-duration: 0.4s;
}
.menuchose
{
    color: white;
    left: 60px;
    transition-duration: 0.2s;
}
.chose1
{
    top:190px;
    transition-duration: 0.2s;
}
.chose2
{
    top:230px;
    transition-duration: 0.2s;
}
.chose3
{
    top:270px;
    transition-duration: 0.2s;
}
.boxchose1
{
    top:0;
    transition-duration: 0.2s;
}
.boxchose2
{
    top:-100%;
    transition-duration: 0.2s;
}
.boxchose3
{
    top:-200%;
    transition-duration: 0.2s;

}
.boxchose
{
    left: 0;
    transition-duration: 0.2s;
}
.loginbox
{
    opacity: 0.8;
}
.loginbox:hover
{
    opacity: 1;
}
.boxnchose
{
    left: -100%;
    transition-duration: 0.2s;
}
.logo:hover
{
    transform:rotate(10deg) scale(1.2);
    transition-duration: 0.2s;
}
.logo:active
{
    transform:rotate(-10deg) scale(1.4);
    transition-duration: 0.2s;
}
.logo
{
    transform:rotate(0deg) scale(1);
    transition-duration: 0.2s;
}
.accchose
{
    left: 0px;
    transition-duration: 0.2s;
}
.accnchose
{
    left: 100%;
    transition-duration: 0.2s;
}
.addbutton
{
    position: absolute;
    bottom: -20px;
    right: 8px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 36px;
    border-radius: 29px;
    transition-duration: 0.2s;

}
.addbuttont
{
    position: absolute;
    bottom: -20px;
    right: 8px;
    background-color: white;
    color: white;
    font-size: 36px;
    border-radius: 10px;
    transition-duration: 0.2s;
    width: calc(100% - 40px);height: 80px;
    rotate: 0deg
}
.rota{transform: rotate(0);position: absolute;right: 7px;top: 2px;transition-duration: 0.2s;}
.rotat{transform: rotate(45deg);position: absolute;right: 2px;top: -4px;transition-duration: 0.2s;}

video::-webkit-media-controls
{
    display:none !important;
}
@media screen and (max-width: 860px)
{
    .search:hover
    {
        width: 400px;
    }
}
@media screen and (max-width: 350px)
{
    .search
    {
        transition-duration: 0.4s;
        opacity: 0;
        width: 300px;
    }
    .searchbut
    {
        transition-duration: 0.2s;
        opacity: 0;
    }
    .mail
    {
        left: 10px;
        top:50px;
        border-radius: 8px;
        background: white;
        height:calc(100% - 74px);
        width: calc(100% - 30px);
        transition-duration: 0.4s;
    }
    .mailfade
    {
        opacity: 0;
        left: 100%;
        top:50px;
        width: calc(100% - 30px);
        transition-duration: 0.4s;
    }
    .mailbox
    {
        width: calc(100% - 22px);
        transition-duration: 0.4s;
    }
    .outbox {width: calc(100% - 10px);}
    input{
        border:0;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
        border: 0;
    }
}
