.background
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.play
{
    position: absolute;
    left: calc(50% - 149px);
    bottom: 120px;
    border: none;
    scale: 2.6;

}
.head
{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
}
.foot
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10%;
}
.title
{
    text-align: center;
    position: absolute;
    line-height: 80%;
    width: 90%;
    left: 5%;
    top: 45%;
    animation-duration: 0.6s;
    animation-name: scal;
    animation-direction: alternate-reverse;
    animation-iteration-count:infinite;
    color: #e01e34;
    text-shadow: #fbff02 1px 0 0, #fbff02 0 1px 0, #fbff02 -1px 0 0, #fbff02 0 -1px 0;
}
@keyframes scal {
    0%
    {
        scale: 6;
    }

    100%
    {
        scale: 8;
    }
}
@media (max-aspect-ratio: 4/3)
{
    .head
    {
        width: 100%;
        left: 0;
        top: 0;
    }
    .foot
    {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}